<%= form_for(@list) do |f| %>
    <%= render 'shared/errors', object: @list %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
