
<div class="nav navbar">
  <div class="container">
    <ul class="nav-pills pull-left">
      <li><%= link_to 'All Lists', lists_path %></li>
      <li><%= link_to 'Back to List', list_path(@list) %></li>
    </ul>
  </div>
</div>

<h1>Editing List</h1>

<%= render 'form' %>

<%= link_to 'Show', @list %> |
<%= link_to 'Back', lists_path %>
