<%= render 'shared/lid' %>
    <p id="notice"><%= notice %></p>
    <h1><%= @list.name %></h1>
    <p><%= @list.description %></p>
    <% @list.tasks.each do |task| %>
      <div class="button_slider">
        <h2><%= link_to task.name, task %></h2>
      </div>
      <ul>
      <% task.notes.each do |note| %>
        <li><%= note.note %></li>
      <% end %>
      </ul>
      <%= bootstrap_form_for [task] do |f| %>
      <div class="button_slider">
        <%= f.check_box( "completed", {}, "true", "false") %>
      </div>
      <div class="button_slider">
        <%= f.submit class: "btn btn-warning" %>
          <% end %>
      </div>
    <% end %>
    <br>
    <div class="button_slider">
      <%= button_to projects_url, class: "btn btn-primary", method: :get do %>
        <i class="fa fa-home fa-lg"></i> Home
      <% end %>
    </div>
    <div class="button_slider">
    <%= button_to :back, method: :get, class: "btn btn-info" do %>
      <i class="fa fa-step-backward fa-lg"></i> Back
    <% end %>
    </div>
    <div class="button_slider">
      <%= button_to edit_list_path(@list), class: "btn btn-warning", method: :get do %>
        <i class="fa fa-pencil-square-o fa-lg"></i> Edit List
      <% end %>
    </div>
    <div class="button_slider">
      <%= button_to @list, class: "btn btn-danger", method: :delete, data: { confirm: "Are you sure?" } do %>
        <i class="fa fa-trash-o fa-lg"></i> Delete
      <% end %>
    </div>
    <div class="button_slider">
      <%= button_to new_list_task_path(@list.id), class: "btn btn-success", method: :get do %>
        <i class="fa fa-pencil fa-lg"></i> Create New
      <% end %>
    </div>
<%= render 'shared/floor' %>

