<p>
  <strong><%= @list.name %></strong>
  <%= render @list.tasks %>
</p>

<%= link_to 'New Task', new_list_task_path(@list) %> |
<%= link_to 'Edit', edit_list_path(@list) %> |
<%= link_to 'Back', lists_path %>

