<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
<%= link_to 'Projects', lists_path, :class => "navbar-brand" %>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">list <span class="sr-only">(current)</span></a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<p><strong>List: <%= @list.name %></strong></p>

<table class="table">
<tr>
<td><strong>Tasks</strong></td>
<td><strong>Completed?</strong></td>
<td><strong>Created</strong></td>
<% @list.tasks.each do |task| %>
</tr>
<tr>
<td><%= link_to task.name, edit_task_path(task) %></td>
<td><%= task.completed %></td>
<td><%= task.created_at %></td>
</tr>
<% end %>
</table>

<%= link_to 'edit list name', edit_list_path(@list) %>  | <%= link_to 'add task', new_list_task_path(@list.id) %>
