<p id="notice"><%= notice %></p>

  <strong>List Name:</strong>

  <li><%= @list.name %></li>

  <% @list.groups.each do |group| %>
    <ul><strong>List groups:</strong>
    <li><%= group.name %></li>
    <ul>Group Tasks:
    <% group.tasks.each do |task| %>
    <li><%= task.name %></li>
    <% end %>
    </ul>
    <% end %>

<%= link_to 'Edit', edit_list_path(@list) %> | <%= link_to 'Edit Tasks', [:edit, @group, @task] %> | <%= link_to 'Back', lists_path %>
