<p id="notice"><%= notice %></p>

  <strong>List Name:</strong>

  <li><%= @list.name %></li>

  <% @list.groups.each do |group| %>
    <ul><strong>List groups:</strong>
      <li><%= group.name %></li>
      <ul>Group Tasks:
        <% group.tasks.each do |task| %>
        <li><%= task.name %></li>
        <% end %>
      </ul>
    </ul>
    <% end %>

<%= link_to 'edit list name', edit_list_path(@list) %> | <%= link_to 'show all groups', list_groups_path(@list.id) %> | <%= link_to 'show all tasks', list_tasks_path(@list.id) %> | <%= link_to 'back', lists_path %>
