<p id="notice"><%= notice %></p>

<p>
  <strong>Project:</strong>
  <%= @list.project %>
</p>

<p>
  <strong>Name:</strong>
  <%= @list.name %>
</p>

<h1>Tasks</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Is completed?</th>
      <th>List</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @list.tasks.each do |task| %>
      <tr>
        <td><%= task.name %></td>
        <td><%= task.is_completed? %></td>
        <td><%= link_to 'Show', task %></td>
        <td><%= link_to 'Edit', edit_task_path(task) %></td>
        <td><%= link_to 'Destroy', task, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New Task', new_task_path %> |
<%= link_to 'Edit List Details', edit_list_path(@list) %> |
<%= link_to 'Back', lists_path %>
