<p>
  <strong><%= @list.name %></strong>
</p>

  <% @list.tasks.each do |task|%>
  <div>
    <h3><%= link_to task.name, list_task_path(@list, task) %>
  </div>
  <%end%>

<%= link_to 'New Task', new_list_task_path(@list) %> |
<%= link_to 'Edit', edit_list_path(@list) %> |
<%= link_to 'Back', lists_path %>

