<p id="notice"><%= notice %></p>

  <h1><%= @list.name %></h1>

  <% @list.tasks.each do |task| %>
    <ul>
      <li><%= link_to task.name, task_path(task) %></li>
    </ul>
  <% end %>

<%= link_to 'Edit', edit_list_path(@list) %>
<%= link_to 'Destroy', @list, method: :delete, data: { confirm: 'Are you sure?' } %>
<%= link_to 'Back', lists_path %>
