  <%= form_for ([@task, @task.notes.build]) do |f| %>
    <p>
      <%= f.label :note %>
      <%= f.text_field :note, autofocus: true %>
    </p>
    <%= f.submit %>
    <%= link_to "Cancel", lists_path %>
<% end %>
