<link href='http://fonts.googleapis.com/css?family=Abril+Fatface' rel='stylesheet' type='text/css'>
<%= form_for [@task, @note] do |f| %>
 <%= render 'shared/errors', object: @note %>
    <p>
      <%= f.label :body %>
      <%= f.text_field :body, autofocus: true %>
    </p>

    <%= f.submit %>
    | <%= link_to "Cancel", tasks_path %>
    <% end %>
