<%= form_for([@task, @task.notes.build]) do |f| %>

  <div class="field">
    <%= f.label :body %><br>
    <%= f.text_area :body, cols:40, rows:10 %>
  </div>
  <div class="field">
    <%= f.label :important %>
    <%= f.check_box :important %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
