<h2>Editing Note</h2>

<%= form_for([@task, @note]) do |f| %>
  <% if @note.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@note.errors.count, "error") %> prohibited this note from being saved:</h2>

      <ul>
      <% @note.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :body %><br>
    <%= f.text_area :body %>
  </div>
  <div class="field">
    <%= f.label :important %><br>
    <%= f.check_box :important %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<ul class='page_link'>
  <li><%= link_to 'Show', @note %></li>
  <li><%= link_to 'Back', task_notes_path(@note.task_id) %></li>
</ul>
