<p id="notice"><%= notice %></p>
<div class='well well-lg col-xs-6 text-center'>
  <h1><%= link_to @task.name, list_path(@list)%></h1>
  <h2>Listing Notes</h2>
</div>
<div class='col-xs-4 col-xs-offset-2'>
  <% @notes.order(:id).each do |note| %>
    <div class='panel'>
      <%= note.body %>
    </div>
      <ul class='nav nav-pills'>
      <li><%= link_to 'Edit', edit_list_task_note_path(@list, @task, note) %></li>
      <li><%= link_to 'Destroy', list_task_note_path(@list, @task, note), method: :delete, data: { confirm: 'Are you sure?' } %></li>
    </ul>
  <% end %>
<%= render 'form' %>
</div>
