<p id="notice"><%= notice %></p>
<div class='col-sm-6 col-xs-8 col-xs-offset-2 col-sm-offset-0 well well-lg text-center'>
  <h1>
    <% if @task.completed %>
  <%= link_to flop_list_task_path(@task.list, @task) do%>
    <i class='glyphicon glyphicon-check'></i>
  <% end %>
<% else %>
  <%= link_to flop_list_task_path(@task.list, @task) do%>
    <i class='glyphicon glyphicon-unchecked'></i>
  <% end %>
<% end %>
    <%= link_to @task.name, list_path(@task.list) %>
  </h1>
  <h2>Notes</h2>
</div>
<div class='col-sm-4 col-xs-8 col-xs-offset-2'>

<%= render @notes.order(:id) %>
<%= render 'form' %>
</div>
