<p id="notice"><%= notice %></p>

<h1>Listing Notes</h1>

<table>
  <thead>
    <tr>
      <th>Body</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @notes.each do |note| %>
      <tr>
        <td><%= note.body %></td>
        <td><%= link_to 'Show', list_task_note_path(@list, @task, note) %></td>
        <td><%= link_to 'Edit', edit_list_task_note_path(@list, @task, note) %></td>
        <td><%= link_to 'Destroy', list_task_note_path(@list, @task, note), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<u>New Note:</u>
<%= render 'form' %>
