<h2>New Note</h2>

<%= render 'form' %>

<ol class="breadcrumb">
  <li><%= link_to 'Home', root_path %></li>
  <li><%= link_to 'Projects', projects_path %></li>
  <li><%= link_to 'Groups', project_groups_path(@group.project_id) %></li>
  <li><%= link_to 'Tasks', group_tasks_path(@group) %></li>
</ol>

