<p id="notice"><%= notice %></p>

<p>
  <strong>Note text:</strong>
  <%= @note.note_text %>
</p>

<p>
  <strong>Text:</strong>
  <%= @note.text_id %>
</p>

<%= link_to 'Edit', edit_note_path(@note) %> |
<%= link_to 'Back', notes_path %>
