<p id="notice"><%= notice %></p>

<p>
  <strong>Body:</strong>
  <%= @note.body %>
</p>

<p>
  <strong>Important:</strong>
  <%= @note.important %>
</p>

<p>
  <strong>Task:</strong>
  <%= @note.task.subject %>
</p>

<ul class='page_link'>
<li><%= link_to 'Edit', edit_note_path(@note) %></li>
<li><%= link_to 'Back', task_notes_path(@note.task_id) %></li>
</ul>
