<%= form_for [@list, @task] do |f| %>
    <%= render 'shared/errors', object: @task %>
    <p>
      <%= f.label :name %>
      <%= f.text_field :name, autofocus: true %>
    </p>
    <p>
      <%= f.label :completed %>
      <%= f.check_box( "completed", {}, "true", "false") %>
    </p>
    <%= f.submit %>
    <%= link_to "Cancel", lists_path %>
    <% end %>
