<%= form_for [@list, @task] do |f| %>
  <% if @task %>
    <%= render 'shared/errors', object: @task %>
  <% end %>

  <div class="field">
    <%= f.label 'Task' %><br>
    <%= f.text_field :name, :autofocus=>true%>
  </div>
  <div class="complete_date">
    <%= f.label :complete_by %>
    <%= f.text_field :complete_by%>
  </div>
  <div class="field">
    <%= f.collection_select(:list_id, List.all, :id, :name) %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
