  <%= form_for [@list, @task] do |f| %>
  <p>
    <%= f.label 'New Task' %>
    <%= f.text_field :name, autofocus: true %>
  </p>

  <p>
    <%= radio_button_tag(:status, :false) %>
    <%= label_tag(:status, "Incomplete") %>
    <%= radio_button_tag(:status, :true) %>
    <%= label_tag(:status, "Complete") %>
  </p>
  <%= f.submit %>
  | <%= link_to "Cancel", lists_path %>
  <% end %>
