  <%= form_for [@list, @task] do |f| %>
  <p>
    <%= f.label 'New Task' %>
    <%= f.text_field :name, autofocus: true %>
  </p>


  <p>
    <%= f.label :status, "Incomplete", :value => false %>
    <%= f.radio_button :status, false %>

    <%= f.label :status, "Complete", :value => true %>
    <%= f.radio_button :status, true %></div>
  </p>

  <%= f.submit %>
  | <%= link_to "Cancel", lists_path %>
  <% end %>
