<link href='http://fonts.googleapis.com/css?family=Abril+Fatface' rel='stylesheet' type='text/css'>
<%= form_for [@list, @task] do |f| %>
 <%= render 'shared/errors', object: @task %>
    <p>
      <%= f.label :name %>
      <%= f.text_field :name, autofocus: true %>
    </p>
    <p>
      <%= f.label :complete_by %>
      <%= f.text_field :complete_by %>
    </p>

    <%= f.submit %>
    | <%= link_to "Cancel", lists_path %>
    <% end %>

