<%= form_for([@list, @list.tasks.build]) do |f| %>

  <p>
    <%= f.label 'Title' %><br>
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label 'Due Date' %><br>
    <%= f.date_field :due_date %>
  </p>
  <p>
    <%= f.label 'Status' %><br>

    <%= select_tag(:status, options_for_select([['pending', 1],['completed', 2]])) %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>
