<%= form_for [@list, @list.tasks.build, *@task] do |f| %>
  <% if @task %>
    <%= render 'shared/errors', object: @task %>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :completed %><br>
    <%= f.check_box :completed %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
