<%= form_for @list.tasks.build, url: project_list_tasks_path(params[:project_id], @list) do |f| %>

  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.label :completed %><br>
    <%= f.text_area :completed %>
  </p>

  <p>
    <%= f.label :list_id %>
    <%= f.text_area :list_id %>
  </p>

  <p>
    <%= f.submit %>
  </p>

<% end %>
