<p id="notice"><%= notice %></p>

<h1>Listing Tasks</h1>

<table class="task_table">
  <thead>
    <tr>
      <th>Subject</th>
      <th>Description</th>
      <th>Due date</th>
      <th>Priority</th>
      <th>Completion Status</th>
      <th>Group</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tasks.each do |task| %>
      <tr>
        <td><%= task.subject %></td>
        <td><%= task.description %></td>
        <td><%= task.due_date %></td>
        <td><%= task.priority %></td>
        <td><%= task.status %></td>
        <td><%= task.group.title %></td>
        <td><%= link_to 'Show Notes', task_path(task) %></td>
        <td><%= link_to 'Edit', edit_task_path(task) %></td>
        <td><%= link_to 'Destroy', task, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<ul>
  <li><%= link_to 'New Task', new_group_task_path %></li>
  <li><%= link_to 'Back to Project Main', projects_path %></li>
  <li><%= link_to 'Back to Group Main', project_groups_path(@group.project_id) %></li>
</ul>

