<div class="navbar">
  <ul class ="nav nav-pills">
    <li><%= link_to 'Back to Lists', lists_path %></li>
    <li><%= link_to 'New Task', new_list_task_path(@list, @task)%></li>
  </ul>
</div>

<h3>Listing All Tasks</h3>


<% @tasks.each do |task| %>
  <tr>
    <td><%= link_to task.name, list_task_path(@list, task) %></td>
    <td><%= task.completed? %></td>
    <td><%= task.list.name %></td>
    <td><%= link_to 'Edit', edit_list_task_path(@list, task) %></td>
    <td><%= link_to 'Destroy', list_task_path(@list, task), method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
