<h3><%= @task.name %></h3>

 <p><%= @task.progress %></p>

<h2>Notes</h2>
<%= render @task.notes %>

<%= link_to "All Projects", '../projects/project_path'(@project) %> |
<%= link_to 'Edit', edit_task_path(@task) %>
