<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @task.title %>
</p>

<p>
  <strong>List:</strong>
  <%= @task.list %>
</p>

<p>
  <strong>Completed?:</strong>
  <%= @task.completed? %>
</p>

<%= link_to 'Edit', edit_task_path(@task) %> |
<%= link_to 'Back', list_path(@task.list.id) %>
