<p>
  <strong>Task:</strong>
  <%= @task.name %> |
  <% if @task.complete? == true %>
  <%= "Task is completed" %>
  <% else %>
  <%= "Task is incomplete" %>
  <% end %>
</p>


<%= render @task.notes %>

<%= render 'notes/form' %>

<%= link_to 'Back To Lists', lists_path %>
