<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @task.title %>
</p>

<p>
  <strong>In List:</strong>
  <%= link_to @task.list.name, @task.list %>
</p>

<p>
  <strong>Completed?:</strong>
  <%= @task.completed? %>
</p>

<div class='notes'>
<%= render @task.notes %>
</div>

<h4>New Note</h4>
<%= render 'notes/form' %>

<%= link_to 'Edit', edit_task_path(@task) %> | <%= link_to "Return to List", @task.list %>

