<%= render 'shared/lid' %>
  <p id="notice"><%= notice %></p>
  <h1><%= @task.name %></h1>
  <%= form_for [@task] do |f| %>
      <%= f.label :completed %>
      <%= f.check_box( "completed", {}, "true", "false") %>
      <%= f.submit %>
  <% end %>
  <% @task.notes.each do |note| %>
    <h3><%= note.note %></h3>
  <% end %>
  <%= render 'notes/form' %>
<div class="button_slider">
      <%= button_to projects_url, class: "btn btn-primary", method: :get do %>
        <i class="fa fa-home fa-lg"></i> Home
      <% end %>
    </div>
    <div class="button_slider">
    <%= button_to :back, method: :get, class: "btn btn-info" do %>
      <i class="fa fa-step-backward fa-lg"></i> Back
    <% end %>
    </div>
    <div class="button_slider">
      <%= button_to @task, class: "btn btn-danger", method: :delete, data: { confirm: "Are you sure?" } do %>
        <i class="fa fa-trash-o fa-lg"></i> Delete
      <% end %>
    </div>
<%= render 'shared/floor' %>
