<p id="notice"><%= notice %></p>

<h1>Task</h1>

<p>
  <strong>Action:</strong>
  <%= @task.action %>
</p>

<p>
  <strong>Done?:</strong>
  <%= @task.done? %>
</p>

<%= link_to 'Back', list_tasks_path(@task) %>

<p>
  <%= render "notes/index" %>
</p>

<p>
  <%=  render "notes/form" %>
</p>
