<h1><%= @task.name %></h1>

<%= render @task.notes %>
<%= render 'notes/form' %>

<%= link_to 'Edit', edit_task_path(@task) %>
<%= link_to 'Destroy', @task, method: :delete, data: { confirm: 'Are you sure?' } %>
<%= link_to 'Back', list_path(@task.list_id) %>

