<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @task.name %>
</p>

<p>
  <strong>Completed?:</strong>
  <%= @task.completed? %>
</p>

<p>
  <strong>Group:</strong>
  <% if @task.group != nil %>
  <%= @task.group.name %>
  <% end %>
</p>
  <strong>Notes:</strong>%
  <%= render 'notes/form' %>

<%= link_to 'edit', edit_task_path(@task) %>
