<h3><%= @task.name %></h3>

 <p><%= @task.completion_status %></p>

<h2>Notes</h2>
<%= render @task.notes %>

<h2>Add notes:</h2>
<%= render 'notes/form' %>

<%= link_to "All Tasks", root_path %> |
<%= link_to 'Edit', edit_task_path(@task) %>
