<p id="notice"><%= notice %></p>

<h1>Listing Groups</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Due date</th>
      <th>Leads</th>
      <th>Priority</th>
      <th>Project</th>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @groups.each do |group| %>
      <tr>
        <td><%= group.title %></td>
        <td><%= group.due_date %></td>
        <td><%= group.leads %></td>
        <td><%= group.priority %></td>
        <td><%= group.project.title %></td>
        <td><%= group.status %></td>
        <td><%= link_to 'Tasks', group_tasks_path(group.id) %></td>
        <td><%= link_to 'Show', group_path( group) %></td>
        <td><%= link_to 'Edit', edit_group_path(group) %></td>
        <td><%= link_to 'Destroy', group, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<ul>
  <li><%= link_to 'New Group', new_project_group_path %></li>
  <li><%= link_to 'Back to Project Main', controller: 'projects' %></li>
</ul>
