<p id="notice"><%= notice %></p>

<p>
  <strong>Group name:</strong>
  <%= @group.name %>
</p>
<p>
<ul>
<% @group.tasks.each do |task| %>
<li><%= task.name %></li>
<% end %>
</ul>

<p>
  <strong>Belongs to:</strong>
  <%= @group.list.name %>
</p>

<%= link_to 'Edit', edit_group_path(@group) %> | <%= link_to 'back', lists_path %>
