<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @group.title %>
</p>


<p>
  <strong>Leads:</strong>
  <%= @group.leads %>
</p>

<p>
  <strong>Project Title:</strong>
  <%= @group.project.title %>
</p>

<%= link_to 'Edit', edit_group_path(@group) %>
<%= link_to 'Back', project_groups_path(@group.project_id) %>
