<ul>
  <% @projects.each do |project| %>
    <li>
      <%= project.title %>
      <%= project.due_date %>
      <%= project.progress %>
      <%= link_to "Show", project_path(project) %>
      <%= link_to "Edit", edit_project_path(project) %>
      <%= link_to "Delete", project_path(project), method: :delete %>
    </li>
  <% end %>
</ul>

<%= link_to "Create New Project", new_project_path %>
<%= link_to "All Lists", '..lists/index_list_path' %>
<%= link_to "All Tasks", '..tasks/index_task_path' %>
<%= link_to "All Notes", '..notes/_note_note_path' %>

