<!DOCTYPE html>
<html>
<head>
  <title>Project To-Do</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container">
  <h1>Projects To-Do</h1>
  <ul class="nav nav-tabs">
    <li><%= link_to "Projects Main", projects_path %></li>
    <li><%= link_to "Projects Main", projects_path %></li>
    <li><%= link_to "Projects Main", projects_path %></li>
    <li><%= link_to "Projects Main", projects_path %></li>
  </ul>

      <%= yield %>

  </div>


</body>
</html>
