<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= "ToDo App" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  </head>

  <body>
    <div class="section group">
      <div class="col span_1_of_3">
        Projects
      </div>
      <div class="col span_1_of_3">
        Lists
      </div>
      <div class="col span_1_of_3">
        Tasks
      </div>
    </div>
    <%= yield %>
    <%= javascript_include_tag "vendor/modernizr" %>

  </body>
</html>
